@page
@model IndexModel
@{
    ViewData["Title"] = "plasmaclouds cheap smoke test service at your service!";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first Azure Web App.</p>

    <p>Would you like a random number? Here you are!</p>
    <p><strong>@Model.RandomNumber</strong></p> <!-- Display the random number -->

    <p>Computation Result: <strong>@Model.ComputationResult</strong></p> <!-- display the computation result -->

</div>
